ul{
    padding: 0;
    margin: 0 0 0 315px;
    list-style: none;
}
li{
    position:relative;
    padding-top: 10px;
    margin-left: 50px;
    left: 100px;
    float:left;
}

.logo img{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.navbar{
    max-width: 1500px;
    width: 100%;
    /*       up       down  left*/
    padding: 0px 0px 80px 0px;
    display: flex;
    margin: auto;
    overflow: hidden;
    text-align: right;
}
nav{
    max-width: 2000px;
    width: 100%;
    overflow: auto;
    max-width: 2000px;
}
nav a{
    width: 100%;
    height: 50px;
    display: block;
    padding: 70px 15px;
    text-decoration: none;
    font-family: Arial;
    color: black;
    text-align: center;
}
nav a:hover{
    background-color:cornflowerblue;
    transition: 0.5s;
    /*text-transform: uppercase;*/
}